:root {
  /* BASE */
  --color-base-100:  #ffffff;
  --color-base-200:  #fafbe7;
  --color-base-300:  #e9eae4;
  --color-base-400:  #d7d8d2;
  --color-base-500:  #c7c8c2;
  --color-base-600:  #a7a9a2;
  --color-base-700:  #7f817b;
  --color-base-800:  #666862;
  --color-base-900:  #555752;
  --color-base-1000: #3f413d;
  --color-base-1100: #2b2d2a;
  --color-base-1200: #191a18;
  --color-base-1300: #0b0b0b;
  /* BRAND */
  --color-brand-100:#F6FFC2;
  --color-brand-200:#d9ff00;
  --color-brand-300:#455200;
  /* SUPPORT */
  --color-support-100: #f1ebff;
  --color-support-200: #e0d3ff;
  --color-support-300: #cdb8ff;
  --color-support-400: #5f3dc4;
  --color-support-500: #4c2a85;
  /* ACCENT */
  --color-accent-100: #f1f4d8;
  --color-accent-200: #a3aa68;
  --color-accent-300: #59612f;

  /* STATES */
  --color-info-100:#9d9dff;
  --color-info-200:#380a90;
  --color-error-100:#fc5e05;
  --color-error-200:#6f1727;
  --color-warning-100:#ffcc03;
  --color-warning-200:#443100;
  --color-success-100:#a1e887;
  --color-success-200:#85b023;
}