:root {
  /* BRAND — BLUE */
  --color-brand-100: #ccd0fe;
  --color-brand-200: #8893ff;
  --color-brand-300: #4455ff;
  --color-brand-400: #2c3fff;
  --color-brand-500: #1329fe;
  --color-brand-600: #080b43;
  --color-brand-700: #060624;

  /* ACCENT — LIME */
  --color-accent: #e8fd9e;

  /* WARM — CORAL */
  --color-warm-100: #f36d52;
  --color-warm-200: #e95549;

  /* BASE */
  --color-base-100:#f6f6ff;
  --color-base-200:#aeafb7;
  --color-base-300:#67676e;
  --color-base-400:#43444a;
  --color-base-500:#1f2026;
  --color-base-600:#1b1b21;
  --color-base-700:#16151b;
  --color-base-800:#0d0b0f;
  --color-base-900:#040004;

  /* STATES */
  --color-info-100:#9d9dff;
  --color-info-200:#380a90;
  --color-error-100:#fc5e05;
  --color-error-200:#6f1727;
  --color-warning-100:#ffcc03;
  --color-warning-200:#443100;
  --color-success-100:#a1e887;
  --color-success-200:#85b023;
}