:root {
    --color-brand-100:#ff9a80;
    --color-brand-200:#ff5733;
    --color-brand-300:#d93a17;
    --color-accent-100:#8ffcff;
    --color-accent-200:#4debf2;
    --color-accent-300:#16dbe7;
    --color-accent-400:#08b8c7;
    --color-accent-500:#067985;
    --color-base-50:#F5F7FC;
    --color-base-100:#E9EDF5;
    --color-base-200:#CFD6E4;
    --color-base-300:#B4BBC8;
    --color-base-400:#9097A3;
    --color-base-500:#686D76;
    --color-base-600:#4A4D54;
    --color-base-700:#34363B;
    --color-base-800:#242629;
    --color-base-900:#181818;
    --color-base-950:#111111;
    --color-base-1000:#070709;
    --color-support-100: #D6C2FF;
    --color-support-200: #BE9BFF;
    --color-support-300: #A577FF;
    --color-support-400: #8A5CFF;
    --color-support-500: #7B2FFF;
    --color-support-600: #6426E3;
    --color-support-700: #5A18CF;
    --color-support-800: #4A0EBF;
    --color-support-900: #2A145A;
    --color-support-950: #160A2E;
    --color-info-100:#9d9dff;
    --color-info-200:#380a90;
    --color-error-100:#fc5e05;
    --color-error-200:#6f1727;
    --color-warning-100:#ffcc03;
    --color-warning-200:#443100;
    --color-success-100:#a1e887;
    --color-success-200:#85b023;
}


body {
    
}