@import "./_colors.css";
@import "./_fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: color-mix(in srgb, var(--color-support-950) 5%, var(--color-base-1000));
    color:var(--color-base-100);
    font-family: var(--font-base);
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}